<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PRQC1HFQ4G"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-PRQC1HFQ4G');
    </script>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/favicon/apple-touch-icon.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicon/favicon-32x32.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/favicon/favicon-16x16.png' | relative_url }}">
    <link rel="manifest" href="{{ '/assets/favicon/site.webmanifest' | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    
    <style>
      :root {
        --primary-color: #2c3e50;
        --secondary-color: #3498db;
        --text-color: #333;
        --bg-color: #fff;
        --sidebar-bg: #f5f5f5;
      }
      
      body {
        background-color: var(--bg-color);
        color: var(--text-color);
      }

      header {
        background: var(--primary-color);
        padding: 2rem 0;
      }

      #content-wrapper {
        padding-top: 20px;
      }

      .inner {
        position: relative;
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
      }

      .clearfix::after {
        content: "";
        display: table;
        clear: both;
      }

      #main-content {
        float: left;
        width: calc(100% - 300px);
        padding-right: 30px;
      }

      #sidebar {
        float: right;
        width: 280px;
        min-height: 504px;
        background: var(--sidebar-bg);
        padding: 2rem;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        position: sticky;
        top: 20px;
      }

      @media only screen and (max-width: 960px) {
        #main-content,
        #sidebar {
          float: none;
          width: 100%;
        }

        #main-content {
          padding-right: 0;
        }

        #sidebar {
          margin-top: 30px;
          position: static;
        }
      }

      #sidebar ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }

      #sidebar li {
        margin: 0.5rem 0;
      }

      #sidebar a {
        color: var(--text-color);
        text-decoration: none;
        transition: all 0.3s ease;
        display: flex;
        align-items: center;
        padding: 0.75rem 1rem;
        border-radius: 8px;
      }

      #sidebar a i {
        margin-right: 10px;
        width: 20px;
        text-align: center;
      }

      #sidebar a:hover {
        background: var(--secondary-color);
        color: var(--bg-color);
        transform: translateX(5px);
      }

      #sidebar h3 {
        margin: 0 0 1.5rem 0;
        padding-bottom: 0.5rem;
        border-bottom: 2px solid var(--secondary-color);
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }

      .topic-link {
        background: var(--sidebar-bg);
        padding: 1rem;
        border-radius: 8px;
        text-decoration: none;
        color: var(--text-color);
        transition: all 0.3s ease;
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }

      .topic-link:hover {
        background: var(--secondary-color);
        color: var(--bg-color);
        transform: translateX(5px);
      }

      .social-links {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
      }

      .social-links a {
        color: var(--text-color);
        font-size: 1.5rem;
      }

      .button {
        display: inline-block;
        padding: 0.4rem 0.8rem;
        font-size: 0.875rem;
        background-color: var(--secondary-color);
        color: var(--bg-color);
        text-decoration: none;
        border-radius: 4px;
        transition: all 0.3s ease;
      }

      .button:hover {
        transform: translateY(-2px);
        box-shadow: 0 2px 8px rgba(0,0,0,0.2);
      }
    </style>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    {% seo %}
    {% include head-custom.html %}
  </head>

  <body>
    <header>
      <div class="inner">
        <a href="{{ '/' | absolute_url }}">
          <h1 style="font-size: 3rem;">{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <!-- <h2 style="font-size: 1rem;">{{ site.description | default: site.github.project_tagline }}</h2> -->
        <a href="{{ site.github.owner_url }}" class="button"><small style="font-size: 0.8rem;">Follow me on</small> GitHub</a>
      </div>
    </header>

    <div id="content-wrapper">{{ ... }}
        </footer>
      </body>
    </html>
      <div class="inner clearfix">
        <section id="main-content">
          {{ content }}
        </section>

        <aside id="sidebar">
          <h3><i class="fas fa-folder"></i> Categories</h3>
          <ul>
            <li><a href="/pages/python"><i class="fab fa-python"></i> Python</a></li>
            <li><a href="/pages/sql"><i class="fas fa-database"></i> SQL</a></li>
            <li><a href="/pages/programming"><i class="fas fa-code"></i> Programming</a></li>
            <li><a href="/pages/data-science"><i class="fas fa-chart-bar"></i> Data Science</a></li>
            <li><a href="/pages/machine-learning"><i class="fas fa-robot"></i> Machine Learning</a></li>
            <li><a href="/pages/machine-learning-operations"><i class="fas fa-cogs"></i> MLOps</a></li>
            <li><a href="/pages/natural-language-processing"><i class="fas fa-language"></i> NLP</a></li>
            <li><a href="/pages/large-language-models"><i class="fas fa-brain"></i> LLMs</a></li>
            <li><a href="/pages/computer-vision"><i class="fas fa-eye"></i> Computer Vision</a></li>
            <li><a href="/pages/artificial-intelligence"><i class="fas fa-microchip"></i> AI</a></li>
            <li><a href="/pages/data-engineering"><i class="fas fa-server"></i> Data Engineering</a></li>
            <li><a href="/pages/career-advice"><i class="fas fa-briefcase"></i> Career</a></li>
            <li><a href="/pages/books-by-abid"><i class="fas fa-book"></i> Books</a></li>
            <li><a href="/pages/cheat-sheets"><i class="fas fa-file-alt"></i> Cheat Sheets</a></li>
          </ul>

          <div class="social-links">
            <a href="https://github.com/kingabzpro" aria-label="GitHub" title="GitHub"><i class="fab fa-github"></i></a>
            <a href="https://linkedin.com/in/1abidaliawan" aria-label="LinkedIn" title="LinkedIn"><i class="fab fa-linkedin"></i></a>
            <a href="https://twitter.com/1abidaliawan" aria-label="Twitter" title="Twitter"><i class="fab fa-twitter"></i></a>
          </div>
        </aside>
      </div>
    </div>
  </body>
</html>